@use "../../variables.scss" as *;

.card {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  background: $color-bg;
  color: $color-text;
  border-radius: $radius;


  @if $use-soft-ui {
    box-shadow: $shadow;
    border: 1px solid transparent;
  } @else {
    box-shadow: none;
    border: 1px solid $color-border;
  }

  overflow: hidden;


  display: grid;
  grid-template-columns: 1fr;
  gap: $space-3;
  padding: $space-4;
}

.card__img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: calc($radius - 0.25rem);
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: $space-2;
}

.card__title {
  margin: 0;
  font-size: $font-lg;
  line-height: 1.2;
}

.card__price {
  margin: 0;
  font-size: $font-md;
  font-weight: 700;
}


.card__btn {
  margin-top: $space-2;
  border-radius: $radius;
  border: 1px solid $color-border;
  padding: $space-3 $space-4;
  font-size: $font-md;
  cursor: pointer;
  background: $color-primary;
  color: white;
}


$btn-states: (
  hover: $color-primary-dark,
  active: $color-primary-dark
);

@each $state, $bg in $btn-states {
  .card__btn:#{$state} {
    background: $bg;
  }
}

.card__btn:focus {
  outline: 2px solid $color-primary;
  outline-offset: 2px;
}


@media (min-width: $bp-md) {
  .card {
    grid-template-columns: 160px 1fr;
    align-items: center;
    gap: $space-4;
  }

  .card__img {
    height: 120px;
    object-fit: cover;
  }

  .card__title {
    font-size: 1.25rem;
  }
}

@media (min-width: $bp-lg) {
  .card {
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.card__img {
  width: 100%;
  height: 180px;     
  object-fit: cover;  
  display: block;
}

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.card__title {
  margin: 0;
  line-height: 1.2;
}

.card__btn {
  margin-top: .5rem;
  width: 100%;
}
}